data/wsdl/23.0.0/fixm_v4.1/xsd/core/flight/capability/Capability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://www.fixm.aero/flight/4.1"
   version="4.1.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/4.1"
   xmlns:fx="http://www.fixm.aero/flight/4.1"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2017 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, 
         International Coordinating Council of Aerospace Industries Associations, JCAB, NATS 
         Limited, 
         NAV CANADA, SESAR Joint Undertaking &amp; US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the 
         following conditions are met: 
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions
    and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating 
    Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking &amp; 
    US FAA nor the names of their contributors may be used to endorse or promote products derived from this
    specification without specific prior written permission.
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
         
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on IATA: http://www.iata.org/Pages/default.aspx 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS Limited: http://www.nats.co.uk/ 
         Details on NAV CANADA: http://www.navcanada.ca/ 
         Details on the UAE GCAA: https://www.gcaa.gov.ae 
         Details on the ICCAIA: www.iccaia.org 
         Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
         
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/4.1" schemaLocation="./../../base/Base.xsd"/>
   <annotation>
      <documentation>
         The capability package contains information about the flight capabilities such as 
         equipment. 
      </documentation>
   </annotation>

   <complexType name="CommunicationCapabilitiesType">
      <annotation>
         <documentation>
            The serviceable communications equipment, available on the aircraft at the time of 
            flight, and associated flight crew qualifications that may be used to communicate 
            with ATS units. [FIXM] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="communicationCapabilityCode" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A code indicating the capability of the aircraft and associated flight crew qualifications 
                        to communicate with ATS units. [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:CommunicationCapabilityCodeType"/>
                  </simpleType>
               </element>
               <element name="datalinkCommunicationCapabilityCode" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A code indicating the capability of the aircraft to communicate or receive data. 
                        [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:DatalinkCommunicationCapabilityCodeType"/>
                  </simpleType>
               </element>
            </sequence>
            <attribute name="otherCommunicationCapabilities" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     Additional Communication capabilities available on the aircraft. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="otherDatalinkCapabilities" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     Additional data link capabilities available on the aircraft. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="selectiveCallingCode" type="fx:SelectiveCallingCodeType" use="optional" > 
               <annotation>
                  <documentation>
                     A code that consists of two 2-letter pairs and acts as a paging system for an ATS 
                     unit to establish voice communications with the pilot of an aircraft. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="CommunicationCapabilities" type="fx:CommunicationCapabilitiesType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="CommunicationCapabilityCodeType">
      <annotation>
         <documentation>
            A code indicating the capability of the aircraft and associated flight crew qualifications 
            to communicate with ATS units. [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="E1"/>
         <enumeration value="E2"/>
         <enumeration value="E3"/>
         <enumeration value="H"/>
         <enumeration value="M1"/>
         <enumeration value="M2"/>
         <enumeration value="M3"/>
         <enumeration value="P1"/>
         <enumeration value="P2"/>
         <enumeration value="P3"/>
         <enumeration value="P4"/>
         <enumeration value="P5"/>
         <enumeration value="P6"/>
         <enumeration value="P7"/>
         <enumeration value="P8"/>
         <enumeration value="P9"/>
         <enumeration value="U"/>
         <enumeration value="V"/>
         <enumeration value="Y"/>
      </restriction>
   </simpleType>

   <simpleType name="DatalinkCommunicationCapabilityCodeType">
      <annotation>
         <documentation>
            A code indicating the capability of the aircraft to communicate or receive data. 
            [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="J1">
            <annotation>
               <documentation>
                  CPDLC ATN VDL Mode 2 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J2">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A HFDL 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J3">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A VDL Mode A 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J4">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A VDL Mode 2 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J5">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A SATCOM (INMARSAT) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J6">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A SATCOM (MTSAT) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="J7">
            <annotation>
               <documentation>
                  CPDLC FANS 1/A SATCOM (MTSAT) 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="DinghiesType">
      <annotation>
         <documentation>
            Dinghy information including total capacity in persons of all dinghies carried, indicator 
            if dinghies are covered, their colours and number.  [ICAO Doc 4444, Appendix 2, ITEM 
            19 D] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensionType">
            <sequence>
               <element name="colour" type="fb:ColourChoiceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The colour of the dinghies carried by the aircraft. [FIXM] 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="covered" type="fx:DinghyCoverIndicatorType" use="optional" > 
               <annotation>
                  <documentation>
                     Indication of the covered/uncovered nature of the dinghies carried by the aircraft. 
                     
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="number" type="fb:CountType" use="optional" > 
               <annotation>
                  <documentation>
                     The number of dinghies carried by the aircraft. [adapted from ICAO Doc 4444, Appendix 
                     2, ITEM 19 D/] 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="totalCapacity" type="fb:CountType" use="optional" > 
               <annotation>
                  <documentation>
                     Total capacity, in persons, of all dinghies carried. [ICAO Doc 4444, Appendix 2, 
                     ITEM 19 D/] 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="Dinghies" type="fx:DinghiesType" substitutionGroup="fb:Extension" /> 

   <simpleType name="DinghyCoverIndicatorType">
      <annotation>
         <documentation>
            Indication of the covered/uncovered nature of the dinghies carried by the aircraft. 
            [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="COVERED"/>
      </restriction>
   </simpleType>

   <simpleType name="EmergencyRadioCapabilityTypeType">
      <annotation>
         <documentation>
            The type of serviceable communication devices available on the aircraft that are 
            able to transmit an emergency radio signal. [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="ULTRA_HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  UHF on frequency 243.0 MHz is available [adapted from ICAO Doc 4444, Appendix 2, 
                  ITEM 19 R/] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="VERY_HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  VHF on frequency 121.5 MHz is available [adapted from ICAO Doc 4444, Appendix 2, 
                  ITEM 19 R/] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="EMERGENCY_LOCATOR_TRANSMITTER">
            <annotation>
               <documentation>
                  emergency locator transmitter (ELT) not available [adapted from ICAO Doc 4444, Appendix 
                  2, ITEM 19 R/] 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="FlightCapabilitiesType">
      <annotation>
         <documentation>
            The capabilities of the flight comprising of the: 
            a) presence of relevant serviceable equipment on board the aircraft; 
            b) equipment and capabilities commensurate with flight crew qualifications; and 
            c) where applicable, authorization from the appropriate authority. 
            [FIXM] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="communication" type="fx:CommunicationCapabilitiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The serviceable communications equipment, available on the aircraft at the time of 
                        flight, and associated flight crew qualifications that may be used to communicate 
                        with ATS units. [FIXM] 
                     </documentation>
                  </annotation>
               </element>
               <element name="navigation" type="fx:NavigationCapabilitiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The navigation capability of the aircraft and associated flight crew qualifications. 
                        [FIXM] 
                     </documentation>
                  </annotation>
               </element>
               <element name="surveillance" type="fx:SurveillanceCapabilitiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The serviceable Secondary Surveillance Radar (SSR) and/or Automatic Dependent Surveillance 
                        (ADS) equipment available on the aircraft at the time of flight that may be used 
                        to identify and/or locate the aircraft. [FIXM] 
                     </documentation>
                  </annotation>
               </element>
               <element name="survival" type="fx:SurvivalCapabilitiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The emergency and survival equipments available on board the aircraft. [FIXM] 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="standardCapabilities" type="fx:StandardCapabilitiesIndicatorType" use="optional" > 
               <annotation>
                  <documentation>
                     if present, indicates that aircraft has the "standard" capabilities for the flight. 
                     
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="FlightCapabilities" type="fx:FlightCapabilitiesType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="LifeJacketTypeType">
      <annotation>
         <documentation>
            The type of life jackets available on board the aircraft. [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="FLUORESCEIN">
            <annotation>
               <documentation>
                  life jackets are equipped with fluorescein [adapted from ICAO Doc 4444, Appendix 
                  2, ITEM 19 J/] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="VERY_HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  = VHF on frequency 121.5 MHz is available [adapted from ICAO Doc 4444, Appendix 2, 
                  ITEM 19 R/ &amp;amp; J/] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="LIGHTS">
            <annotation>
               <documentation>
                  life jackets are equipped with lights [adapted from ICAO Doc 4444, Appendix 2, ITEM 
                  19 J/] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="ULTRA_HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  UHF on frequency 243.0 MHz is not available [adapted from ICAO Doc 4444, Appendix 
                  2, ITEM 19 R/ &amp;amp; J/] 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="NavigationCapabilitiesType">
      <annotation>
         <documentation>
            The navigation capability of the aircraft and associated flight crew qualifications. 
            [FIXM] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="navigationCapabilityCode" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A code indicating the navigation capability of the aircraft and associated flight 
                        crew qualifications. [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:NavigationCapabilityCodeType"/>
                  </simpleType>
               </element>
               <element name="performanceBasedCode" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A coded category denoting which Required Navigation Performance (RNP) and Area Navigation 
                        (RNAV) requirements can be met by the aircraft while operating in the context of 
                        a particular airspace when supported by the appropriate navigation infrastructure. 
                        
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:PerformanceBasedNavigationCapabilityCodeType"/>
                  </simpleType>
               </element>
            </sequence>
            <attribute name="otherNavigationCapabilities" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     Additional navigation capabilities available on board the aircraft. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NavigationCapabilities" type="fx:NavigationCapabilitiesType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="NavigationCapabilityCodeType">
      <annotation>
         <documentation>
            A code indicating the navigation capability of the aircraft and associated flight 
            crew qualifications. [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A">
            <annotation>
               <documentation>
                  GBAS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B">
            <annotation>
               <documentation>
                  LPV 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>
                  LORAN C 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D">
            <annotation>
               <documentation>
                  DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="F">
            <annotation>
               <documentation>
                  ADF 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="G">
            <annotation>
               <documentation>
                  GNSS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>
                  Inertial Navigation 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="K">
            <annotation>
               <documentation>
                  MLS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>
                  ILS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="O">
            <annotation>
               <documentation>
                  VOR 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="T">
            <annotation>
               <documentation>
                  TACAN 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="W">
            <annotation>
               <documentation>
                  RVSM 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="X">
            <annotation>
               <documentation>
                  MNPS 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="PerformanceBasedNavigationCapabilityCodeType">
      <annotation>
         <documentation>
            A coded category denoting which Required Navigation Performance (RNP) and Area Navigation 
            (RNAV) requirements can be met by the aircraft while operating in the context of 
            a particular airspace when supported by the appropriate navigation infrastructure. 
            [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A1">
            <annotation>
               <documentation>
                  RNAV 10 (RNP 10) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B1">
            <annotation>
               <documentation>
                  RNAV 5 All Permitted Sensors 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B2">
            <annotation>
               <documentation>
                  RNAV 5 GNSS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B3">
            <annotation>
               <documentation>
                  RNAV 5 DME/DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B4">
            <annotation>
               <documentation>
                  RNAV 5 VOR/DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B5">
            <annotation>
               <documentation>
                  RNAV 5 INS or IRS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B6">
            <annotation>
               <documentation>
                  RNAV 5 LORAN-C 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C1">
            <annotation>
               <documentation>
                  RNAV 2 All Permitted Sensors 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C2">
            <annotation>
               <documentation>
                  RNAV 2 GNSS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C3">
            <annotation>
               <documentation>
                  RNAV 2 DME/DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C4">
            <annotation>
               <documentation>
                  RNAV 2 DME/DME/IRU 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D1">
            <annotation>
               <documentation>
                  RNAV 1 All Permitted Sensors 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D2">
            <annotation>
               <documentation>
                  RNAV 1 GNSS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D3">
            <annotation>
               <documentation>
                  RNAV 1 DME/DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D4">
            <annotation>
               <documentation>
                  RNAV 1 DME/DME/IRU 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="L1">
            <annotation>
               <documentation>
                  RNP 4 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="O1">
            <annotation>
               <documentation>
                  Basic RNP 1 All Permitted Sensors 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="O2">
            <annotation>
               <documentation>
                  Basic RNP 1 GNSS 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="O3">
            <annotation>
               <documentation>
                  Basic RNP 1 DME/DME 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="O4">
            <annotation>
               <documentation>
                  Basic RNP 1 DME/DME/IRU 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="S1">
            <annotation>
               <documentation>
                  RNP APCH 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="S2">
            <annotation>
               <documentation>
                  RNP APCH with Barometric Vertical Navigation 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="T1">
            <annotation>
               <documentation>
                  RNP AR APCH with RF (Authorization Required) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="T2">
            <annotation>
               <documentation>
                  RNP AR APCH without RF (Authorization Required) 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="SelectiveCallingCodeType">
      <annotation>
         <documentation>
            A code that consists of two 2-letter pairs and acts as a paging system for an ATS 
            unit to establish voice communications with the pilot of an aircraft. 
         </documentation>
      </annotation>
      <restriction base="fb:CharacterStringType">
         <pattern value="[A-HJ-MP-S]{4}"/>
      </restriction>
   </simpleType>

   <simpleType name="StandardCapabilitiesIndicatorType">
      <annotation>
         <documentation>
            This element indicates the aircraft carries the set of capabilities considered   
            standard   by the appropriate authority. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="STANDARD"/>
      </restriction>
   </simpleType>

   <complexType name="SurveillanceCapabilitiesType">
      <annotation>
         <documentation>
            The serviceable Secondary Surveillance Radar (SSR) and/or Automatic Dependent Surveillance 
            (ADS) equipment available on the aircraft at the time of flight that may be used 
            to identify and/or locate the aircraft. [FIXM] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="surveillanceCapabilityCode" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A code indicating the SSR and ADS capability of the aircraft. [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:SurveillanceCapabilityCodeType"/>
                  </simpleType>
               </element>
            </sequence>
            <attribute name="otherSurveillanceCapabilities" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     Additional surveillance capabilities available on board the aircraft. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="SurveillanceCapabilities" type="fx:SurveillanceCapabilitiesType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="SurveillanceCapabilityCodeType">
      <annotation>
         <documentation>
            A code indicating the SSR and ADS capability of the aircraft. [FIXM] 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A">
            <annotation>
               <documentation>
                  Transponder-Mode A (4 digits-4,096 codes) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B1">
            <annotation>
               <documentation>
                  ADS-B with dedicated 1090 MHz ADS-B out capability 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="B2">
            <annotation>
               <documentation>
                  ADS-B with dedicated 1090 MHz ADS-B out and in capability 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>
                  Transponder-Mode A (4 digits-4,096 codes) and Mode C 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="D1">
            <annotation>
               <documentation>
                  ADS-C with FANS 1/A capabilities 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="E">
            <annotation>
               <documentation>
                  Transponder Mode S including aircraft identification, pressure-altitude, and extended 
                  squitter capability (ADS-B) 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="G1">
            <annotation>
               <documentation>
                  ADS-C with FANS 1/A capabilities 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="H">
            <annotation>
               <documentation>
                  Transponder Mode S including aircraft identification, pressure-altitude, and enhanced 
                  surveillance capability 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="I">
            <annotation>
               <documentation>
                  Transponder Mode S including aircraft identification, but no pressure-altitude capability 
                  
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="L">
            <annotation>
               <documentation>
                  Transponder Mode S including aircraft identification, pressure-altitude, extended 
                  squitter, and enhanced surveillance capability 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="P">
            <annotation>
               <documentation>
                  Transponder Mode S including pressure-altitude, but no aircraft identification capability 
                  
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>
                  Transponder-Mode S, including both pressure-altitude and aircraft identification 
                  transmission 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="U1">
            <annotation>
               <documentation>
                  ADS-B out capability using UAT 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="U2">
            <annotation>
               <documentation>
                  ADS-B out and in capability using UAT 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="V1">
            <annotation>
               <documentation>
                  ADS-B out capability using VDL mode 4 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="V2">
            <annotation>
               <documentation>
                  ADS-B in and out capability using VDL mode 4 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="X">
            <annotation>
               <documentation>
                  Transponder Mode S with neither aircraft identification nor pressure-altitude capability 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="SurvivalCapabilitiesType">
      <annotation>
         <documentation>
            The emergency and survival equipments available on board the aircraft. [FIXM] 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="dinghyInformation" type="fx:DinghiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Dinghy information including total capacity in persons of all dinghies carried, indicator 
                        if dinghies are covered, their colours and number. [ICAO Doc 4444, Appendix 2, ITEM 
                        19 D] 
                     </documentation>
                  </annotation>
               </element>
               <element name="emergencyRadioCapabilityType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The type of serviceable communication devices available on the aircraft that are 
                        able to transmit an emergency radio signal. [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:EmergencyRadioCapabilityTypeType"/>
                  </simpleType>
               </element>
               <element name="lifeJacketType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The type of life jackets available on board the aircraft. [FIXM] 
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:LifeJacketTypeType"/>
                  </simpleType>
               </element>
               <element name="survivalEquipmentType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The type of equipment carried on board the aircraft that can be used by the crew 
                        and passengers to assist survival in harsh environments in case of emergency. [FIXM] 
                        
                     </documentation>
                  </annotation>
                  <simpleType>
                     <list itemType="fx:SurvivalEquipmentTypeType"/>
                  </simpleType>
               </element>
            </sequence>
            <attribute name="survivalEquipmentRemarks" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     A description of survival equipment carried on the aircraft and any other useful 
                     remarks regarding survival equipment. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="SurvivalCapabilities" type="fx:SurvivalCapabilitiesType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="SurvivalEquipmentTypeType">
      <annotation>
         <documentation>
            The type of equipment carried on board the aircraft that can be used by the crew 
            and passengers to assist survival in harsh environments in case of emergency. [FIXM] 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="POLAR">
            <annotation>
               <documentation>
                  polar survival equipment is carried [ICAO Doc 4444, Appendix 3] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="DESERT">
            <annotation>
               <documentation>
                  desert survival equipment is carried [ICAO Doc 4444, Appendix 3] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="MARITIME">
            <annotation>
               <documentation>
                  maritime survival equipment is carried [ICAO Doc 4444, Appendix 3] 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="JUNGLE">
            <annotation>
               <documentation>
                  jungle survival equipment is carried [ICAO Doc 4444, Appendix 3] 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
