data/wsdl/23.0.0/fixm_v4.1/xsd/core/flight/cargo/RadioactiveMaterials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://www.fixm.aero/flight/4.1"
   version="4.1.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/4.1"
   xmlns:fx="http://www.fixm.aero/flight/4.1"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2017 Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, 
         International Coordinating Council of Aerospace Industries Associations, JCAB, NATS 
         Limited, 
         NAV CANADA, SESAR Joint Undertaking &amp; US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the 
         following conditions are met: 
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions
    and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of Airservices Australia, DSNA, EUROCONTROL, GCAA UAE, IATA, International Coordinating 
    Council of Aerospace Industries Associations, JCAB, NATS Limited, NAV CANADA, SESAR Joint Undertaking &amp; 
    US FAA nor the names of their contributors may be used to endorse or promote products derived from this
    specification without specific prior written permission.
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on DSNA: http://www.developpement-durable.gouv.fr/-Navigation-aerienne-.html 
         
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on IATA: http://www.iata.org/Pages/default.aspx 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS Limited: http://www.nats.co.uk/ 
         Details on NAV CANADA: http://www.navcanada.ca/ 
         Details on the UAE GCAA: https://www.gcaa.gov.ae 
         Details on the ICCAIA: www.iccaia.org 
         Details on the SESAR JU and its members: http://www.sesarju.eu/discover-sesar/partnering-smarter-aviation/members 
         
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/4.1" schemaLocation="./../../base/Base.xsd"/>
   <annotation>
      <documentation>
         The grouping element for goods that contain radioactive materials. 
      </documentation>
   </annotation>

   <complexType name="RadioactiveMaterialType">
      <annotation>
         <documentation>
            The  grouping element for goods that contain radioactive materials. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="radionuclide" type="fx:RadionuclideType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The XML sub-grouping element for Radioactive Materials. 
                         
                        WARNING 
                        This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                        element will be removed starting FIXM 5.0.0. 
                        <deprecated> 
                           <deletionVersion>5.0.0</deletionVersion>
                           <deprecationVersion>4.1.0</deprecationVersion>
                           <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
                           <replacement>N/A</replacement>
                        </deprecated>
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="category" type="fx:RadioactiveMaterialCategoryType" use="optional" > 
               <annotation>
                  <documentation>
                     A category used for radioactive materials in a package, overpack or freight container, 
                     based on their maximum radiation level. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="criticalitySafetyIndex" use="optional" > 
               <annotation>
                  <documentation>
                     The dimensionless number (rounded up to the next tenth) assigned to and placed on 
                     the label of a fissile material package to designate the degree of control of accumulation 
                     of packages containing fissile material during transportation. 
                  </documentation>
               </annotation>
               <simpleType>
                  <restriction base="fb:DecimalIndexType">
                     <maxInclusive value="100.0"/>
                     <minInclusive value="0.0"/>
                  </restriction>
               </simpleType>
            </attribute>
            <attribute name="fissileExceptedIndicator" type="fx:FissileExceptedType" use="optional" > 
               <annotation>
                  <documentation>
                     An indicator of whether the restrictions for fissile material are excepted for a 
                     particular package. 
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                     <deprecated> 
                        <deletionVersion>5.0.0</deletionVersion>
                        <deprecationVersion>4.1.0</deprecationVersion>
                        <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
                        <replacement>N/A</replacement>
                     </deprecated>
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="transportIndex" use="optional" > 
               <annotation>
                  <documentation>
                     A figure representing the radiation level measured at one meter from the package. 
                     
                  </documentation>
               </annotation>
               <simpleType>
                  <restriction base="fb:DecimalIndexType">
                     <maxInclusive value="50.0"/>
                     <minInclusive value="0.0"/>
                  </restriction>
               </simpleType>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="RadioactiveMaterial" type="fx:RadioactiveMaterialType" substitutionGroup="fb:Extensible" /> 

   <complexType name="RadionuclideType">
      <annotation>
         <documentation>
            The XML sub-grouping element for Radioactive Materials. 
            <deprecated> 
               <deletionVersion>5.0.0</deletionVersion>
               <deprecationVersion>4.1.0</deprecationVersion>
               <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
               <replacement>N/A</replacement>
            </deprecated>
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensibleType">
            <sequence>
               <element name="activity" type="fb:RadioactivityType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The measure of the rate of decay, or activity, of a radioactive material. 
                         
                        WARNING 
                        This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                        element will be removed starting FIXM 5.0.0. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="lowDispersibleMaterialIndicator" type="fx:MaterialDispersabilityType" use="optional" > 
               <annotation>
                  <documentation>
                     An indicator the dangerous good is a low dispersible radioactive material, a solid 
                     radioactive material or a solid radioactive material in a sealed capsule, which has 
                     limited dispersibility and is not in powder form. 
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                     <deprecated> 
                        <deletionVersion>5.0.0</deletionVersion>
                        <deprecationVersion>4.1.0</deprecationVersion>
                        <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
                        <replacement>N/A</replacement>
                     </deprecated>
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="physicalChemicalForm" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     A description of the physical and chemical form when the dangerous goods are radioactive. 
                     
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="radionuclideId" use="optional" > 
               <annotation>
                  <documentation>
                     Identification number of each radionuclide or for mixtures of radionuclides. 
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                  </documentation>
               </annotation>
               <simpleType>
                  <restriction base="fb:CharacterStringType">
                     <pattern value="(UN)|(ID)|(NA)?\d{4}"/>
                  </restriction>
               </simpleType>
            </attribute>
            <attribute name="radionuclideName" type="fb:CharacterStringType" use="optional" > 
               <annotation>
                  <documentation>
                     The name or symbol of each radionuclide or for mixtures of radionuclides, an appropriate 
                     general description, or a list of the most restrictive nuclides. 
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="specialFormIndicator" type="fx:SpecialFormType" use="optional" > 
               <annotation>
                  <documentation>
                     A notation that the material is 'special form' and cannot produce radioactive contamination. 
                     
                      
                     WARNING 
                     This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
                     element will be removed starting FIXM 5.0.0. 
                     <deprecated> 
                        <deletionVersion>5.0.0</deletionVersion>
                        <deprecationVersion>4.1.0</deprecationVersion>
                        <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
                        <replacement>N/A</replacement>
                     </deprecated>
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="Radionuclide" type="fx:RadionuclideType" substitutionGroup="fb:Extensible" /> 

   <simpleType name="FissileExceptedType">
      <annotation>
         <documentation>
            An indicator of whether the restrictions for fissile material are excepted for a 
            particular package. 
            <deprecated> 
               <deletionVersion>5.0.0</deletionVersion>
               <deprecationVersion>4.1.0</deprecationVersion>
               <rationale>Change Request #25. Outcomes of ATMRPP/2 shows DG data element other than NOTOC items are not required in FIXM Core.</rationale>
               <replacement>N/A</replacement>
            </deprecated>
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="EXCEPTED">
            <annotation>
               <documentation>
                  Indicates the restrictions for fissile material are excepted for a particular package. 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="MaterialDispersabilityType">
      <annotation>
         <documentation>
            An indicator the dangerous good is a low dispersible radioactive material, a solid 
            radioactive material or a solid radioactive material in a sealed capsule, which has 
            limited dispersibility and is not in powder form. 
             
            WARNING 
            This element is deprecated as of FIXM 4.1.0 per ATMRPP/2 and FIXM CCB decision. The 
            element will be removed starting FIXM 5.0.0. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="LOW_DISPERSIBLE">
            <annotation>
               <documentation>
                  Indicates that the dangerous good is either (1) a low dispersible radioactive material, 
                  (2) a solid radioactive material, or (3) a solid radioactive material in a sealed 
                  capsule which has limited dispersibility and is not in powder form. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="RadioactiveMaterialCategoryType">
      <annotation>
         <documentation>
            A category used for radioactive materials in a package, overpack or freight container, 
            based on their maximum radiation level. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="I_WHITE">
            <annotation>
               <documentation>
                  .Surface radiation &amp;lt;0.5 millirem/hr, 1 meter radiation: N/A 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="II_YELLOW">
            <annotation>
               <documentation>
                  .Surface radiation &amp;lt;50 millirem/hr, 1 meter radiation &amp;lt;1 millirem/hr 
                  
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="III_YELLOW">
            <annotation>
               <documentation>
                  .Surface radiation &amp;gt;50 millirem/hr, 1 meter radiation &amp;gt;1 millirem/hr 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="SpecialFormType">
      <annotation>
         <documentation>
            A notation that the material is 'special form' and cannot produce radioactive contamination. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="SPECIAL_FORM">
            <annotation>
               <documentation>
                  Indicates that the material is 'special form' and cannot produce radioactive contamination. 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
