data/wsdl/23.0.0/FlowServices_OPS_23.0.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions
    targetNamespace="eurocontrol/cfmu/b2b/FlowServices"
    name="FlowServices"
    xmlns:flow="eurocontrol/cfmu/b2b/FlowServices"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xs:schema>
      <xs:import namespace="eurocontrol/cfmu/b2b/FlowServices" schemaLocation="FlowServices_23.0.0.xsd"/>
    </xs:schema>
  </types>

  <message name="TrafficCountsByAircraftOperatorRequest">
    <part name="parameters" element="flow:TrafficCountsByAircraftOperatorRequest"/>
  </message>
  <message name="TrafficCountsByAircraftOperatorReply">
    <part name="parameters" element="flow:TrafficCountsByAircraftOperatorReply"/>
  </message>
  <message name="TrafficCountsByAerodromeRequest">
    <part name="parameters" element="flow:TrafficCountsByAerodromeRequest"/>
  </message>
  <message name="TrafficCountsByAerodromeReply">
    <part name="parameters" element="flow:TrafficCountsByAerodromeReply"/>
  </message>
  <message name="TrafficCountsByAerodromeSetRequest">
    <part name="parameters" element="flow:TrafficCountsByAerodromeSetRequest"/>
  </message>
  <message name="TrafficCountsByAerodromeSetReply">
    <part name="parameters" element="flow:TrafficCountsByAerodromeSetReply"/>
  </message>
  <message name="TrafficCountsByAirspaceRequest">
    <part name="parameters" element="flow:TrafficCountsByAirspaceRequest"/>
  </message>
  <message name="TrafficCountsByAirspaceReply">
    <part name="parameters" element="flow:TrafficCountsByAirspaceReply"/>
  </message>
  <message name="TrafficCountsByPointRequest">
    <part name="parameters" element="flow:TrafficCountsByPointRequest"/>
  </message>
  <message name="TrafficCountsByPointReply">
    <part name="parameters" element="flow:TrafficCountsByPointReply"/>
  </message>
  <message name="TrafficCountsByTrafficVolumeRequest">
    <part name="parameters" element="flow:TrafficCountsByTrafficVolumeRequest"/>
  </message>
  <message name="TrafficCountsByTrafficVolumeReply">
    <part name="parameters" element="flow:TrafficCountsByTrafficVolumeReply"/>
  </message>

  <portType name="TrafficCountsService">
    <operation name="queryTrafficCountsByAircraftOperator">
      <input message="flow:TrafficCountsByAircraftOperatorRequest"/>
      <output message="flow:TrafficCountsByAircraftOperatorReply"/>
    </operation>
    <operation name="queryTrafficCountsByAerodrome">
      <input message="flow:TrafficCountsByAerodromeRequest"/>
      <output message="flow:TrafficCountsByAerodromeReply"/>
    </operation>
    <operation name="queryTrafficCountsByAerodromeSet">
      <input message="flow:TrafficCountsByAerodromeSetRequest"/>
      <output message="flow:TrafficCountsByAerodromeSetReply"/>
    </operation>
    <operation name="queryTrafficCountsByAirspace">
      <input message="flow:TrafficCountsByAirspaceRequest"/>
      <output message="flow:TrafficCountsByAirspaceReply"/>
    </operation>
    <operation name="queryTrafficCountsByPoint">
      <input message="flow:TrafficCountsByPointRequest"/>
      <output message="flow:TrafficCountsByPointReply"/>
    </operation>
    <operation name="queryTrafficCountsByTrafficVolume">
      <input message="flow:TrafficCountsByTrafficVolumeRequest"/>
      <output message="flow:TrafficCountsByTrafficVolumeReply"/>
    </operation>
  </portType>

  <binding name="TrafficCountsPortBinding" type="flow:TrafficCountsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="queryTrafficCountsByAircraftOperator">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTrafficCountsByAerodrome">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTrafficCountsByAerodromeSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTrafficCountsByAirspace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTrafficCountsByPoint">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTrafficCountsByTrafficVolume">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TrafficCountsService">
    <port name="TrafficCountsPort" binding="flow:TrafficCountsPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>
  <message name="RegulationListRequest">
    <part name="parameters" element="flow:RegulationListRequest"/>
  </message>
  <message name="RegulationListReply">
    <part name="parameters" element="flow:RegulationListReply"/>
  </message>
  <message name="RegulationCreationRequest">
    <part name="parameters" element="flow:RegulationCreationRequest"/>
  </message>
  <message name="RegulationCreationReply">
    <part name="parameters" element="flow:RegulationCreationReply"/>
  </message>
  <message name="RegulationUpdateRequest">
    <part name="parameters" element="flow:RegulationUpdateRequest"/>
  </message>
  <message name="RegulationUpdateReply">
    <part name="parameters" element="flow:RegulationUpdateReply"/>
  </message>
  <message name="RegulationCancelRequest">
    <part name="parameters" element="flow:RegulationCancelRequest"/>
  </message>
  <message name="RegulationCancelReply">
    <part name="parameters" element="flow:RegulationCancelReply"/>
  </message>
  <message name="RegulationProposalListRequest">
    <part name="parameters" element="flow:RegulationProposalListRequest"/>
  </message>
  <message name="RegulationProposalListReply">
    <part name="parameters" element="flow:RegulationProposalListReply"/>
  </message>
  <message name="RegulationProposalFilingRequest">
    <part name="parameters" element="flow:RegulationProposalFilingRequest"/>
  </message>
  <message name="RegulationProposalFilingReply">
    <part name="parameters" element="flow:RegulationProposalFilingReply"/>
  </message>
  <message name="RegulationProposalUpdateRequest">
    <part name="parameters" element="flow:RegulationProposalUpdateRequest"/>
  </message>
  <message name="RegulationProposalUpdateReply">
    <part name="parameters" element="flow:RegulationProposalUpdateReply"/>
  </message>
  <message name="RegulationProposalRevocationRequest">
    <part name="parameters" element="flow:RegulationProposalRevocationRequest"/>
  </message>
  <message name="RegulationProposalRevocationReply">
    <part name="parameters" element="flow:RegulationProposalRevocationReply"/>
  </message>
  <message name="ReroutingListRequest">
    <part name="parameters" element="flow:ReroutingListRequest"/>
  </message>
  <message name="ReroutingListReply">
    <part name="parameters" element="flow:ReroutingListReply"/>
  </message>
  <message name="ReroutingCreationRequest">
    <part name="parameters" element="flow:ReroutingCreationRequest"/>
  </message>
  <message name="ReroutingCreationReply">
    <part name="parameters" element="flow:ReroutingCreationReply"/>
  </message>
  <message name="ReroutingUpdateRequest">
    <part name="parameters" element="flow:ReroutingUpdateRequest"/>
  </message>
  <message name="ReroutingUpdateReply">
    <part name="parameters" element="flow:ReroutingUpdateReply"/>
  </message>
  <message name="ReroutingCancelRequest">
    <part name="parameters" element="flow:ReroutingCancelRequest"/>
  </message>
  <message name="ReroutingCancelReply">
    <part name="parameters" element="flow:ReroutingCancelReply"/>
  </message>
  <message name="MCDMOnlyListRequest">
    <part name="parameters" element="flow:MCDMOnlyListRequest"/>
  </message>
  <message name="MCDMOnlyListReply">
    <part name="parameters" element="flow:MCDMOnlyListReply"/>
  </message>
  <message name="MCDMOnlyCreationRequest">
    <part name="parameters" element="flow:MCDMOnlyCreationRequest"/>
  </message>
  <message name="MCDMOnlyCreationReply">
    <part name="parameters" element="flow:MCDMOnlyCreationReply"/>
  </message>
  <message name="MCDMOnlyUpdateRequest">
    <part name="parameters" element="flow:MCDMOnlyUpdateRequest"/>
  </message>
  <message name="MCDMOnlyUpdateReply">
    <part name="parameters" element="flow:MCDMOnlyUpdateReply"/>
  </message>
  <message name="MCDMOnlyCancelRequest">
    <part name="parameters" element="flow:MCDMOnlyCancelRequest"/>
  </message>
  <message name="MCDMOnlyCancelReply">
    <part name="parameters" element="flow:MCDMOnlyCancelReply"/>
  </message>
  <message name="MeasureOpLogRetrievalRequest">
    <part name="parameters" element="flow:MeasureOpLogRetrievalRequest"/>
  </message>
  <message name="MeasureOpLogRetrievalReply">
    <part name="parameters" element="flow:MeasureOpLogRetrievalReply"/>
  </message>
  <message name="UpdateFlightsInMeasureRequest">
    <part name="parameters" element="flow:UpdateFlightsInMeasureRequest"/>
  </message>
  <message name="UpdateFlightsInMeasureReply">
    <part name="parameters" element="flow:UpdateFlightsInMeasureReply"/>
  </message>
  <message name="ATFCMSituationRequest">
    <part name="parameters" element="flow:ATFCMSituationRequest"/>
  </message>
  <message name="ATFCMSituationReply">
    <part name="parameters" element="flow:ATFCMSituationReply"/>
  </message>
  <message name="NetworkImpactAssessmentRetrievalRequest">
    <part name="parameters" element="flow:NetworkImpactAssessmentRetrievalRequest"/>
  </message>
  <message name="NetworkImpactAssessmentRetrievalReply">
    <part name="parameters" element="flow:NetworkImpactAssessmentRetrievalReply"/>
  </message>

  <portType name="MeasuresService">
    <operation name="queryRegulations">
      <input message="flow:RegulationListRequest"/>
      <output message="flow:RegulationListReply"/>
    </operation>
    <operation name="createRegulation">
      <input message="flow:RegulationCreationRequest"/>
      <output message="flow:RegulationCreationReply"/>
    </operation>
    <operation name="updateRegulation">
      <input message="flow:RegulationUpdateRequest"/>
      <output message="flow:RegulationUpdateReply"/>
    </operation>
    <operation name="cancelRegulation">
      <input message="flow:RegulationCancelRequest"/>
      <output message="flow:RegulationCancelReply"/>
    </operation>
    <operation name="queryRegulationProposals">
      <input message="flow:RegulationProposalListRequest"/>
      <output message="flow:RegulationProposalListReply"/>
    </operation>
    <operation name="fileRegulationProposal">
      <input message="flow:RegulationProposalFilingRequest"/>
      <output message="flow:RegulationProposalFilingReply"/>
    </operation>
    <operation name="updateRegulationProposal">
      <input message="flow:RegulationProposalUpdateRequest"/>
      <output message="flow:RegulationProposalUpdateReply"/>
    </operation>
    <operation name="revokeRegulationProposal">
      <input message="flow:RegulationProposalRevocationRequest"/>
      <output message="flow:RegulationProposalRevocationReply"/>
    </operation>
    <operation name="queryReroutings">
      <input message="flow:ReroutingListRequest"/>
      <output message="flow:ReroutingListReply"/>
    </operation>
    <operation name="createRerouting">
      <input message="flow:ReroutingCreationRequest"/>
      <output message="flow:ReroutingCreationReply"/>
    </operation>
    <operation name="updateRerouting">
      <input message="flow:ReroutingUpdateRequest"/>
      <output message="flow:ReroutingUpdateReply"/>
    </operation>
    <operation name="cancelRerouting">
      <input message="flow:ReroutingCancelRequest"/>
      <output message="flow:ReroutingCancelReply"/>
    </operation>
    <operation name="queryMCDMOnly">
      <input message="flow:MCDMOnlyListRequest"/>
      <output message="flow:MCDMOnlyListReply"/>
    </operation>
    <operation name="createMCDMOnly">
      <input message="flow:MCDMOnlyCreationRequest"/>
      <output message="flow:MCDMOnlyCreationReply"/>
    </operation>
    <operation name="updateMCDMOnly">
      <input message="flow:MCDMOnlyUpdateRequest"/>
      <output message="flow:MCDMOnlyUpdateReply"/>
    </operation>
    <operation name="cancelMCDMOnly">
      <input message="flow:MCDMOnlyCancelRequest"/>
      <output message="flow:MCDMOnlyCancelReply"/>
    </operation>
    <operation name="retrieveMeasureOpLog">
      <input message="flow:MeasureOpLogRetrievalRequest"/>
      <output message="flow:MeasureOpLogRetrievalReply"/>
    </operation>
    <operation name="updateFlightsInMeasure">
      <input message="flow:UpdateFlightsInMeasureRequest"/>
      <output message="flow:UpdateFlightsInMeasureReply"/>
    </operation>
    <operation name="retrieveATFCMSituation">
      <input message="flow:ATFCMSituationRequest"/>
      <output message="flow:ATFCMSituationReply"/>
    </operation>
    <operation name="retrieveNetworkImpactAssessment">
      <input message="flow:NetworkImpactAssessmentRetrievalRequest"/>
      <output message="flow:NetworkImpactAssessmentRetrievalReply"/>
    </operation>
  </portType>

  <binding name="MeasuresPortBinding" type="flow:MeasuresService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="queryRegulations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createRegulation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateRegulation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelRegulation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryRegulationProposals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="fileRegulationProposal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateRegulationProposal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="revokeRegulationProposal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryReroutings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createRerouting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateRerouting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelRerouting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryMCDMOnly">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createMCDMOnly">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMCDMOnly">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelMCDMOnly">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveMeasureOpLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateFlightsInMeasure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveATFCMSituation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveNetworkImpactAssessment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MeasuresService">
    <port name="MeasuresPort" binding="flow:MeasuresPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>
  <message name="MCDMTopicListRequest">
    <part name="parameters" element="flow:MCDMTopicListRequest"/>
  </message>
  <message name="MCDMTopicListReply">
    <part name="parameters" element="flow:MCDMTopicListReply"/>
  </message>
  <message name="MCDMTopicUpdateRequest">
    <part name="parameters" element="flow:MCDMTopicUpdateRequest"/>
  </message>
  <message name="MCDMTopicUpdateReply">
    <part name="parameters" element="flow:MCDMTopicUpdateReply"/>
  </message>
  <message name="MCDMTopicMessageRetrievalRequest">
    <part name="parameters" element="flow:MCDMTopicMessageRetrievalRequest"/>
  </message>
  <message name="MCDMTopicMessageRetrievalReply">
    <part name="parameters" element="flow:MCDMTopicMessageRetrievalReply"/>
  </message>
  <message name="MCDMStateUpdateRequest">
    <part name="parameters" element="flow:MCDMStateUpdateRequest"/>
  </message>
  <message name="MCDMStateUpdateReply">
    <part name="parameters" element="flow:MCDMStateUpdateReply"/>
  </message>

  <portType name="McdmService">
    <operation name="queryMCDM">
      <input message="flow:MCDMTopicListRequest"/>
      <output message="flow:MCDMTopicListReply"/>
    </operation>
    <operation name="updateMCDM">
      <input message="flow:MCDMTopicUpdateRequest"/>
      <output message="flow:MCDMTopicUpdateReply"/>
    </operation>
    <operation name="retrieveMCDMMessages">
      <input message="flow:MCDMTopicMessageRetrievalRequest"/>
      <output message="flow:MCDMTopicMessageRetrievalReply"/>
    </operation>
    <operation name="updateMCDMState">
      <input message="flow:MCDMStateUpdateRequest"/>
      <output message="flow:MCDMStateUpdateReply"/>
    </operation>
  </portType>

  <binding name="McdmPortBinding" type="flow:McdmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="queryMCDM">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMCDM">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveMCDMMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMCDMState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="McdmService">
    <port name="McdmPort" binding="flow:McdmPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>
  <message name="SectorConfigurationPlanRetrievalRequest">
    <part name="parameters" element="flow:SectorConfigurationPlanRetrievalRequest"/>
  </message>
  <message name="SectorConfigurationPlanRetrievalReply">
    <part name="parameters" element="flow:SectorConfigurationPlanRetrievalReply"/>
  </message>
  <message name="SectorConfigurationPlanUpdateRequest">
    <part name="parameters" element="flow:SectorConfigurationPlanUpdateRequest"/>
  </message>
  <message name="SectorConfigurationPlanUpdateReply">
    <part name="parameters" element="flow:SectorConfigurationPlanUpdateReply"/>
  </message>
  <message name="CapacityPlanRetrievalRequest">
    <part name="parameters" element="flow:CapacityPlanRetrievalRequest"/>
  </message>
  <message name="CapacityPlanRetrievalReply">
    <part name="parameters" element="flow:CapacityPlanRetrievalReply"/>
  </message>
  <message name="CapacityPlanUpdateRequest">
    <part name="parameters" element="flow:CapacityPlanUpdateRequest"/>
  </message>
  <message name="CapacityPlanUpdateReply">
    <part name="parameters" element="flow:CapacityPlanUpdateReply"/>
  </message>
  <message name="TrafficVolumeActivationPlanRetrievalRequest">
    <part name="parameters" element="flow:TrafficVolumeActivationPlanRetrievalRequest"/>
  </message>
  <message name="TrafficVolumeActivationPlanRetrievalReply">
    <part name="parameters" element="flow:TrafficVolumeActivationPlanRetrievalReply"/>
  </message>
  <message name="TrafficVolumeActivationPlanUpdateRequest">
    <part name="parameters" element="flow:TrafficVolumeActivationPlanUpdateRequest"/>
  </message>
  <message name="TrafficVolumeActivationPlanUpdateReply">
    <part name="parameters" element="flow:TrafficVolumeActivationPlanUpdateReply"/>
  </message>
  <message name="OTMVPlanRetrievalRequest">
    <part name="parameters" element="flow:OTMVPlanRetrievalRequest"/>
  </message>
  <message name="OTMVPlanRetrievalReply">
    <part name="parameters" element="flow:OTMVPlanRetrievalReply"/>
  </message>
  <message name="OTMVPlanUpdateRequest">
    <part name="parameters" element="flow:OTMVPlanUpdateRequest"/>
  </message>
  <message name="OTMVPlanUpdateReply">
    <part name="parameters" element="flow:OTMVPlanUpdateReply"/>
  </message>
  <message name="RunwayConfigurationPlanRetrievalRequest">
    <part name="parameters" element="flow:RunwayConfigurationPlanRetrievalRequest"/>
  </message>
  <message name="RunwayConfigurationPlanRetrievalReply">
    <part name="parameters" element="flow:RunwayConfigurationPlanRetrievalReply"/>
  </message>
  <message name="RunwayConfigurationPlanUpdateRequest">
    <part name="parameters" element="flow:RunwayConfigurationPlanUpdateRequest"/>
  </message>
  <message name="RunwayConfigurationPlanUpdateReply">
    <part name="parameters" element="flow:RunwayConfigurationPlanUpdateReply"/>
  </message>
  <message name="HotspotListRequest">
    <part name="parameters" element="flow:HotspotListRequest"/>
  </message>
  <message name="HotspotListReply">
    <part name="parameters" element="flow:HotspotListReply"/>
  </message>
  <message name="HotspotPlanUpdateRequest">
    <part name="parameters" element="flow:HotspotPlanUpdateRequest"/>
  </message>
  <message name="HotspotPlanUpdateReply">
    <part name="parameters" element="flow:HotspotPlanUpdateReply"/>
  </message>

  <portType name="TacticalUpdatesService">
    <operation name="retrieveSectorConfigurationPlan">
      <input message="flow:SectorConfigurationPlanRetrievalRequest"/>
      <output message="flow:SectorConfigurationPlanRetrievalReply"/>
    </operation>
    <operation name="updateSectorConfigurationPlan">
      <input message="flow:SectorConfigurationPlanUpdateRequest"/>
      <output message="flow:SectorConfigurationPlanUpdateReply"/>
    </operation>
    <operation name="retrieveCapacityPlan">
      <input message="flow:CapacityPlanRetrievalRequest"/>
      <output message="flow:CapacityPlanRetrievalReply"/>
    </operation>
    <operation name="updateCapacityPlan">
      <input message="flow:CapacityPlanUpdateRequest"/>
      <output message="flow:CapacityPlanUpdateReply"/>
    </operation>
    <operation name="retrieveTrafficVolumeActivationPlan">
      <input message="flow:TrafficVolumeActivationPlanRetrievalRequest"/>
      <output message="flow:TrafficVolumeActivationPlanRetrievalReply"/>
    </operation>
    <operation name="updateTrafficVolumeActivationPlan">
      <input message="flow:TrafficVolumeActivationPlanUpdateRequest"/>
      <output message="flow:TrafficVolumeActivationPlanUpdateReply"/>
    </operation>
    <operation name="retrieveOTMVPlan">
      <input message="flow:OTMVPlanRetrievalRequest"/>
      <output message="flow:OTMVPlanRetrievalReply"/>
    </operation>
    <operation name="updateOTMVPlan">
      <input message="flow:OTMVPlanUpdateRequest"/>
      <output message="flow:OTMVPlanUpdateReply"/>
    </operation>
    <operation name="retrieveRunwayConfigurationPlan">
      <input message="flow:RunwayConfigurationPlanRetrievalRequest"/>
      <output message="flow:RunwayConfigurationPlanRetrievalReply"/>
    </operation>
    <operation name="updateRunwayConfigurationPlan">
      <input message="flow:RunwayConfigurationPlanUpdateRequest"/>
      <output message="flow:RunwayConfigurationPlanUpdateReply"/>
    </operation>
    <operation name="queryHotspots">
      <input message="flow:HotspotListRequest"/>
      <output message="flow:HotspotListReply"/>
    </operation>
    <operation name="updateHotspots">
      <input message="flow:HotspotPlanUpdateRequest"/>
      <output message="flow:HotspotPlanUpdateReply"/>
    </operation>
  </portType>

  <binding name="TacticalUpdatesPortBinding" type="flow:TacticalUpdatesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="retrieveSectorConfigurationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateSectorConfigurationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveCapacityPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCapacityPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveTrafficVolumeActivationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTrafficVolumeActivationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveOTMVPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOTMVPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveRunwayConfigurationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateRunwayConfigurationPlan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryHotspots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateHotspots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TacticalUpdatesService">
    <port name="TacticalUpdatesPort" binding="flow:TacticalUpdatesPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>
  <message name="SimulationListRequest">
    <part name="parameters" element="flow:SimulationListRequest"/>
  </message>
  <message name="SimulationListReply">
    <part name="parameters" element="flow:SimulationListReply"/>
  </message>
  <message name="SimulationAvailabilityRequest">
    <part name="parameters" element="flow:SimulationAvailabilityRequest"/>
  </message>
  <message name="SimulationAvailabilityReply">
    <part name="parameters" element="flow:SimulationAvailabilityReply"/>
  </message>
  <message name="SimulationStartRequest">
    <part name="parameters" element="flow:SimulationStartRequest"/>
  </message>
  <message name="SimulationStartReply">
    <part name="parameters" element="flow:SimulationStartReply"/>
  </message>
  <message name="SimulationStopRequest">
    <part name="parameters" element="flow:SimulationStopRequest"/>
  </message>
  <message name="SimulationStopReply">
    <part name="parameters" element="flow:SimulationStopReply"/>
  </message>

  <portType name="SimulationsService">
    <operation name="querySimulations">
      <input message="flow:SimulationListRequest"/>
      <output message="flow:SimulationListReply"/>
    </operation>
    <operation name="queryAvailableSimulations">
      <input message="flow:SimulationAvailabilityRequest"/>
      <output message="flow:SimulationAvailabilityReply"/>
    </operation>
    <operation name="startSimulation">
      <input message="flow:SimulationStartRequest"/>
      <output message="flow:SimulationStartReply"/>
    </operation>
    <operation name="stopSimulation">
      <input message="flow:SimulationStopRequest"/>
      <output message="flow:SimulationStopReply"/>
    </operation>
  </portType>

  <binding name="SimulationsPortBinding" type="flow:SimulationsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="querySimulations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryAvailableSimulations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="startSimulation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="stopSimulation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="SimulationsService">
    <port name="SimulationsPort" binding="flow:SimulationsPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>
  <message name="ScenarioRegulationRetrievalRequest">
    <part name="parameters" element="flow:ScenarioRegulationRetrievalRequest"/>
  </message>
  <message name="ScenarioRegulationRetrievalReply">
    <part name="parameters" element="flow:ScenarioRegulationRetrievalReply"/>
  </message>
  <message name="ScenarioReroutingRetrievalRequest">
    <part name="parameters" element="flow:ScenarioReroutingRetrievalRequest"/>
  </message>
  <message name="ScenarioReroutingRetrievalReply">
    <part name="parameters" element="flow:ScenarioReroutingRetrievalReply"/>
  </message>
  <message name="ScenarioMCDMOnlyRetrievalRequest">
    <part name="parameters" element="flow:ScenarioMCDMOnlyRetrievalRequest"/>
  </message>
  <message name="ScenarioMCDMOnlyRetrievalReply">
    <part name="parameters" element="flow:ScenarioMCDMOnlyRetrievalReply"/>
  </message>
  <message name="ScenarioListRequest">
    <part name="parameters" element="flow:ScenarioListRequest"/>
  </message>
  <message name="ScenarioListReply">
    <part name="parameters" element="flow:ScenarioListReply"/>
  </message>

  <portType name="ScenarioRepositoryService">
    <operation name="retrieveRegulationsFromScenario">
      <input message="flow:ScenarioRegulationRetrievalRequest"/>
      <output message="flow:ScenarioRegulationRetrievalReply"/>
    </operation>
    <operation name="retrieveReroutingsFromScenario">
      <input message="flow:ScenarioReroutingRetrievalRequest"/>
      <output message="flow:ScenarioReroutingRetrievalReply"/>
    </operation>
    <operation name="retrieveMCDMOnlyFromScenario">
      <input message="flow:ScenarioMCDMOnlyRetrievalRequest"/>
      <output message="flow:ScenarioMCDMOnlyRetrievalReply"/>
    </operation>
    <operation name="queryScenarioRepository">
      <input message="flow:ScenarioListRequest"/>
      <output message="flow:ScenarioListReply"/>
    </operation>
  </portType>

  <binding name="ScenarioRepositoryPortBinding" type="flow:ScenarioRepositoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="retrieveRegulationsFromScenario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveReroutingsFromScenario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retrieveMCDMOnlyFromScenario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryScenarioRepository">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="ScenarioRepositoryService">
    <port name="ScenarioRepositoryPort" binding="flow:ScenarioRepositoryPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/23.0.0"/>
    </port>
  </service>

</definitions>
